{% comment %}
  Check if the product has the metafield for combined listings.
{% endcomment %}

  <div class="combined-products">
    {% for combined_product in product.metafields.beans.combined_listing.value %}
      {% assign active_class = "" %}
      {% if combined_product.url == request.path %}
        {% assign active_class = "animated" %}
      {% endif %}
      <a href="{{ combined_product.url }}" class="custombutton {{ active_class }}">
        {% if combined_product.metafields.custom.name %}
          {{ combined_product.metafields.custom.name.value }}<br>
        {% endif %}
      </a>
    {% endfor %}
  </div>

