<style>

/* Media Query Ranges */
@media only screen and (max-width: 600px) {
    .cards-container {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;

    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .cards-container {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      
    }
  }
  
  @media only screen and (min-width: 1201px) {
    .cards-container {
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      margin-left:7rem;
      margin-right:7rem;
    }
  }
  
 
  .image-name-date-container{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .name-date-container{
    display:flex;
    flex-direction: column;
    justify-content: start;
    margin-left:0.7rem;

  }
  .cards-container .card {
    display: inline-block;
    overflow: visible;
    background-color:#fBFBFB;
    padding:1rem;
    margin:1rem;
    border-radius: 10px;
    border: 1px solid #eee;

  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    margin-top:0.6rem;
    font-size: 22px; /* Adjust size as needed */

}
.card p {
  color:grey;
  font-size:16px;

}
.star {
    color: gold; /* Change color as needed */
}
  /* Styles for demo */
  .text-center {
    text-align: center;
  }
  .circle-image {
    border-radius: 50%;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    object-fit: cover;
}
  .card-title{

  color:#141414
}
.card-title-date{
    font-size:12px;
  color:#141414
}

</style>

  {% for subscriptions_reviews in shop.metaobjects.subscriptions_reviews.values %}
    {{ subscriptions_reviews.customer_name }}

   <div class="container">
    
        <div class="row">
          <div class="col s12 cards-container">
            
             <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                <div class="image-name-date-container">
                    <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image" width="" height="">
                    <div class="name-date-container">
                        <span class="card-title">Emma Johnson</span>
                        <span class="card-title-date">3 weeks ago</span>
                    </div>
                </div>
                <div class="rating">
                    <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                </div>
                 <p>Fantastic coffee! The Barn never disappoints. Their beans are always fresh, and the flavors are consistently rich and complex. Highly recommended!</p>
               </div>
             </div>

             <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Maximilian Schmidt</span>
                         <span class="card-title-date">2 weeks ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>The Barn Coffee Roasters is my go-to for specialty coffee. Each cup is a delightful journey of flavor, and their subscription service makes it so easy to enjoy their amazing beans at home.</p>
                </div>
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Sophie Williams</span>
                         <span class="card-title-date">5 weeks ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>Absolutely love The Barn! Their attention to detail in sourcing and roasting shines through in every cup. Whether I'm savoring a single origin pour-over or a classic espresso, it's always top-notch.</p>
                </div>
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Liam Brown</span>
                         <span class="card-title-date">3 hours ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>Great coffee, great service! The Barn's subscription has been a game-changer for me. It's like Christmas morning every time a new shipment arrives. Can't get enough of their delicious brews!</p>
                </div>
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Isabella Martinez</span>
                         <span class="card-title-date">3 weeks ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>The Barn's coffee is a true treat for the senses.</p>
                </div>
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Oliver Wilson</span>
                         <span class="card-title-date">1 month ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>I've been a loyal customer of The Barn for years, and they never fail to impress. Their dedication to quality and their passion for coffee truly sets them apart. Five stars all the way!</p>
                </div>
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Hannah Lee</span>
                         <span class="card-title-date">3 weeks ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>As a coffee enthusiast, I'm always on the lookout for exceptional beans, and The Barn delivers every time.</p>
                </div>
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Noah Anderson</span>
                         <span class="card-title-date">9 hours ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>The Barn's coffee is like poetry in a cup. Each blend tells a unique story, and I love exploring the diverse flavor profiles. A must-try for anyone who appreciates the art of coffee.</p>
                </div>
              </div>

              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                 <div class="image-name-date-container">
                     <img src="https://img.freepik.com/free-psd/cute-dog-portrait-isolated_23-2150194076.jpg?t=st=1716480174~exp=1716483774~hmac=32d4b4243990585437973d1928bfdce119621c4a403547e757002283e66f35dd&w=826" alt="Image" class="circle-image"width="" height="">
                     <div class="name-date-container">
                         <span class="card-title">Amelia Taylor</span>
                         <span class="card-title-date">1 week ago</span>
                     </div>
                 </div>
                 <div class="rating">
                     <span class="star">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
                 </div>
                  <p>I can't imagine starting my day without a cup of coffee from The Barn.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
  {% endfor %}
  
{% schema %}
  {
    "name": "Custom abo reviews",
    "settings": [],
    "presets": [{
        "name": "Custom abo reviews",
        "category": "Text"
  }]
  }
{% endschema %}