<style>
  .cards-container .card {
    display: inline-block;
    overflow: visible;
    background-color:#fBFBFB;
    padding:1.6rem;
    margin:1rem;
    border-radius: 10px;
    border: 1px solid #eee;
    width: -webkit-fill-available;



  }
  
/* Media Query Ranges */
@media only screen and (max-width: 600px) {
    .cards-container {
      column-count: 1;
      -webkit-column-count: 1;
      -moz-column-count: 1;

    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .cards-container {
      column-count: 2;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      
    }
  }
  
  @media only screen and (min-width: 1201px) {
    .cards-container {
      column-count: 3;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      margin-left:7rem;
      margin-right:7rem;
    }
  }


 
  .image-name-date-container{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .name-date-container{
    display:flex;
    flex-direction: column;
    justify-content: start;
    margin-left:0.7rem;

  }

  .rating {
    display:flex;
    flex-direction:row;
    margin-top:0.6rem;
    margin-left:0.7rem;
    margin-bottom:3rem;


}
.card-title-reviews-container{
  display:flex;
  flex-direction:column;
  margin-left:0.7rem;

}
.card-title-review{
  color:#141414;
  font-size:16px;
  margin-bottom:1rem;
}
.card-review{
  color:grey;
  font-size:16px;
}

.star {

    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 4px;
    fill: #804d15; /* Change color as needed */

}
  /* Styles for demo */
  .text-center {
    text-align: center;
  }
  .circle-image {
    border-radius: 50%;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    object-fit: cover;
}
  .card-title{
    font-weight:bold;

  color:#141414
}
.card-title-date{
    font-size:12px;
  color:#141414
}

</style>


     <div class="col s12 cards-container page-width">
  {% for subscriptions_reviews in shop.metaobjects.subscriptions_reviews.values %}

 
    
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="image-name-date-container">
              


          

                  <div class="name-date-container">
                      <span class="card-title">{{ subscriptions_reviews.customer_name }}</span>
                      <span class="card-title-date">  {{ subscriptions_reviews.date }}</span>
                  </div>
              </div>
              <div class="rating">
                <svg class="star" viewBox="0 0 20 20">
                  <path d="M10.0001 16.0074L14.8499 18.9407C15.7381 19.4783 16.8249 18.6836 16.5912 17.6786L15.3057 12.1626L19.5946 8.44634C20.3776 7.76853 19.9569 6.48303 18.9285 6.40122L13.2839 5.92208L11.0752 0.709949C10.6779 -0.236649 9.32225 -0.236649 8.92491 0.709949L6.71618 5.91039L1.07165 6.38954C0.043251 6.47134 -0.377459 7.75685 0.405529 8.43466L4.69444 12.1509L3.40893 17.6669C3.17521 18.6719 4.26204 19.4666 5.15021 18.929L10.0001 16.0074V16.0074Z"></path>
                </svg>
                <svg class="star" viewBox="0 0 20 20">
                  <path d="M10.0001 16.0074L14.8499 18.9407C15.7381 19.4783 16.8249 18.6836 16.5912 17.6786L15.3057 12.1626L19.5946 8.44634C20.3776 7.76853 19.9569 6.48303 18.9285 6.40122L13.2839 5.92208L11.0752 0.709949C10.6779 -0.236649 9.32225 -0.236649 8.92491 0.709949L6.71618 5.91039L1.07165 6.38954C0.043251 6.47134 -0.377459 7.75685 0.405529 8.43466L4.69444 12.1509L3.40893 17.6669C3.17521 18.6719 4.26204 19.4666 5.15021 18.929L10.0001 16.0074V16.0074Z"></path>
                </svg>
                <svg class="star" viewBox="0 0 20 20">
                  <path d="M10.0001 16.0074L14.8499 18.9407C15.7381 19.4783 16.8249 18.6836 16.5912 17.6786L15.3057 12.1626L19.5946 8.44634C20.3776 7.76853 19.9569 6.48303 18.9285 6.40122L13.2839 5.92208L11.0752 0.709949C10.6779 -0.236649 9.32225 -0.236649 8.92491 0.709949L6.71618 5.91039L1.07165 6.38954C0.043251 6.47134 -0.377459 7.75685 0.405529 8.43466L4.69444 12.1509L3.40893 17.6669C3.17521 18.6719 4.26204 19.4666 5.15021 18.929L10.0001 16.0074V16.0074Z"></path>
                </svg>
                <svg class="star" viewBox="0 0 20 20">
                  <path d="M10.0001 16.0074L14.8499 18.9407C15.7381 19.4783 16.8249 18.6836 16.5912 17.6786L15.3057 12.1626L19.5946 8.44634C20.3776 7.76853 19.9569 6.48303 18.9285 6.40122L13.2839 5.92208L11.0752 0.709949C10.6779 -0.236649 9.32225 -0.236649 8.92491 0.709949L6.71618 5.91039L1.07165 6.38954C0.043251 6.47134 -0.377459 7.75685 0.405529 8.43466L4.69444 12.1509L3.40893 17.6669C3.17521 18.6719 4.26204 19.4666 5.15021 18.929L10.0001 16.0074V16.0074Z"></path>
                </svg>
                <svg class="star" viewBox="0 0 20 20">
                  <path d="M10.0001 16.0074L14.8499 18.9407C15.7381 19.4783 16.8249 18.6836 16.5912 17.6786L15.3057 12.1626L19.5946 8.44634C20.3776 7.76853 19.9569 6.48303 18.9285 6.40122L13.2839 5.92208L11.0752 0.709949C10.6779 -0.236649 9.32225 -0.236649 8.92491 0.709949L6.71618 5.91039L1.07165 6.38954C0.043251 6.47134 -0.377459 7.75685 0.405529 8.43466L4.69444 12.1509L3.40893 17.6669C3.17521 18.6719 4.26204 19.4666 5.15021 18.929L10.0001 16.0074V16.0074Z"></path>
                </svg>
              </div>
              <div class="card-title-reviews-container">
              
                <span class="card-title-review"> {{ subscriptions_reviews.customer_title_review }} </span>
                 <span class="card-review"> {{ subscriptions_reviews.customer_review }} </span>
              </div>
            </div>
          </div>
      
          
          
          
          
        {% endfor %}
      </div>

   
       
  
{% schema %}
  {
    "name": "Custom abo reviews",
    "settings": [],
    "presets": [{
        "name": "Custom abo reviews",
        "category": "Text"
  }]
  }
{% endschema %}